@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
#pergunta
{
    width: 150px;
    height: 40px;
    border:none;

    box-shadow: 2px 2px 2px 2px rgb(185, 183, 185);
    border-radius: 20px;
    margin-right: 10px;
    background-color: #D4D4D4;
}
#pergunta:focus {
    outline: none; /* Remove o outline padrão */
    box-shadow: 0 0 10px #0e922f;

}
.cabecalhoChatbot{
    margin-top: none;
    background-color: #ffffff;
 
    
    
}
.cabecalhoChatbot h1{
    font-family: 'Kanit';
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #b8b7b7;
}
#botao
{
    height: 50px;
    width: 50px;
    border-radius: 50px;
     border:none;
    transform: rotate(270deg);
    margin: 5px;
}
.RespostaDoChatBot{
    width: 170px;
    margin-bottom: 9px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-inline-start: 5px;
    color: #ffffff;
    padding-inline-start: 7px;
    background-color: #06bd03;
}
.PerguntasDousuario{
    width: 170px;
    margin-bottom: 9px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-inline-start: 5px;
    color: #ffffff;
    padding-inline-start: 7px;
    background-color: #0bff07;

}
.backgroundDoChatBot{
    position: relative;
    overflow-y: auto;
    width: 300px;
    height: 500px;
    background-color: #f3f3f3;
    border: 1px solid black;

}
.backgroundDoChatBot::-webkit-scrollbar-button{
    background-color:#BBBBBB ;
}
.RodapeChatBot{

  
    position: absolute;
 
    width: 300px;
    height: 70px;

    bottom: 0;

    display: flex; 
    justify-content: center; 
    align-items: center;


    background-color: #ffffff;
    

}
#containerPerguntasERespostas{
    overflow-y: auto;
}


