
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
#pergunta
{

    outline: none;
    box-shadow:none;
    width: 180px;
    height: 40px;
    border:none;
    text-align: center;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #54C552;
}
#pergunta:focus {
    outline: none; /* Remove o outline padrão */
    box-shadow:none;

}
.cabecalhoChatbot{
    margin-top: none;
    background-color: #ffffff;
    display: block;
    /*Mexi nessa bosta nao reclama*/
    
}

#btnEnviarPergunta{
    scale: 2;
    rotate: 100deg;
}


.cabecalhoChatbot h1{
    font-family: 'Kanit';
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #b8b7b7;
}
#botao
{   
    padding: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border:none;
    transform: rotate(270deg);
    margin: 5px;
}
#botao:hover
{
    background-color: #D4D4D4;
}



.divPaiRespostaDoChatBot{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-bottom: 6px;
}
.divPaiPergunta{
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-right: 2px;
    overflow-wrap: break-word; 
    padding-bottom: 6px;
}
.RespostaDoChatBot{
    width: 50%;
    padding-bottom: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-inline-start: 5px;
    color: #ffffff;
    padding-inline-start: 7px;
    padding: 7px;
    background-color: #3eac3c;
    margin-right: auto;
    
}
.PerguntasDousuario{
    
    padding-inline-start: 7px;
    margin-right: 5px;
    margin-left: auto;
    width: 150px;
    min-height: 33px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-inline-start: 5px;
    color: #ffffff;
    background-color: #4de94b;
    margin-left: auto;

}
.conteinerIconeChat, .conteinerIconeUsuario, .iconeImg{
    width: 50px;
    height: 49px;
    border-radius: 50px;
    background-color: #ecebeb;
}


.backgroundDoChatBot {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 360px;
    height: 500px;
    background-color: #f3f3f3;
    border: 0.2px solid black;
    border-radius: 18px;
}
.backgroundDoChatBot::-webkit-scrollbar-button{
    background-color:#BBBBBB ;
}
.backgroundDoChatBot::-webkit-scrollbar-track-piece{
    height:60px;
}
.RodapeChatBot {
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
#containerPerguntasERespostas {
    flex: 1;
    
    padding-right: 7px;
    padding-left: 7px;
    overflow-y: auto;
    overflow-x: hidden;
   
  
  
}
#icone{
 width:100%;
 height:100%;
}


.escolhaIcone{
    font-family: 'Kanit';
    display: block;
    align-self: center;
    color: #b8b7b7;
    text-align: center;
    background-color: #ffffff;
    border-radius: 18px;
    margin-bottom: 35px;
    margin-left: 14px;
    width: 372px ;
    height: 170px;

}
.botaoIcones{
    border:none;
    border-radius: 90px;
    padding: 0px;
    width: 60px;
    height: 60px;
}
.botaoIcones:hover{
    transition: 400ms;
    filter:drop-shadow(0px 0px 7px #8f8e8e);
    background-color: #cccbcb;
}
    

::-webkit-scrollbar 
{
    width: 8px;
}
  
::-webkit-scrollbar-thumb 
{
    background-color: rgb(210, 196, 246);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: rgba(105, 100, 118, 0.627);
}

::-webkit-scrollbar-track 
{        
    background-color: #f1f1f1;
}
.iconeRobo{
    height: 70px;
    width: 70px;
}
.animacao3Pontos{
    height: 30px;
    width: 30px;
}


#botaoCorpoChatBot
{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


#img_botao_bot
{
    width: 90%;
    height: 90%;
}
